{% extends 'interface/interface-closed.html.twig' %}

{% block siteLogo %}<img src="{{ asset('build/images/logo-wide.svg') }}" alt="logo" width="190" height="47">{% endblock %}
{% block subTitle %} {% endblock %}

{% block body %}
<style>
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
</style>
<div class="page-logged">
        
        {% set context = "contact" %}
        {% include 'interface/declaration/partial/header_declaration.html.twig'%}
    


		<div class="introduction-ouvert container debug coordinate">
			<div class="form-notice contained">* CHAMPS OBLIGATOIRES</div>
                {{ form_start(form, {'attr':{"autocomplete":"off"}}) }}
                    <div class="my-custom-class-for-errors">{{ form_errors(form) }}</div>
                        
                    <div class="row blue contained">
                        <div class="form-col-label col-sm-12 col-md-2 nopadding  text-uppercase" style="">
                            <span class="label-description">{{ form_label(form.civilite) }}</span><span class="label-mandatory">*</span>
                        </div>
                        <div class="form-col-fields col-sm-12 col-md-10 nopadding">{{ form_widget(form.civilite,{attr:{'autocomplete':'nofill'}}) }}</div>
                        <ul class="error" style="font-weight: bold;color:red" id="err-civilite">{{ form_errors(form.civilite) }}</ul>    
                    </div>
                            
                            
                    <div class="row blue contained">
                        <div class="form-col-label col-sm-12 col-md-2 nopadding  text-uppercase" style="">
                            <span class="label-description">{{ form_label(form.nom) }}</span><span class="label-mandatory">*</span>
                        </div>
                        <div class="form-col-fields col-sm-12 col-md-10 nopadding">{{ form_widget(form.nom,{attr:{'autocomplete':'nofill'}}) }}</div>
                        <ul class="error" style="font-weight: bold;color:red" id="err-nom">{{ form_errors(form.nom) }}</ul>    
                    </div>
                        
                    <div class="row blue contained">
                        <div class="form-col-label col-sm-12 col-md-2 nopadding  text-uppercase" style="">
                            <span class="label-description">{{ form_label(form.fonction) }}</span><span class="label-mandatory">*</span>
                        </div>
                        <div class="form-col-fields col-sm-12 col-md-10 nopadding">{{ form_widget(form.fonction,{attr:{'autocomplete':'nofill'}}) }}</div>
                        <ul class="error" style="font-weight: bold;color:red" id="err-fonction">{{ form_errors(form.fonction) }}</ul>    
                    </div>
                            
                    <div class="row blue contained">
                        <div class="col-sm-12 col-md-6 nopadding">
                            <div class="row nomargin red">
                                <div class="form-col-label col-sm-12 col-md-4 nopadding  text-uppercase" style="">
                                <span class="label-description">{{ form_label(form.telephone) }}</span><span class="label-mandatory">*</span>
                            </div>
                            <div class="form-col-fields col-sm-12 col-md-8 nopadding">{{ form_widget(form.telephone,{attr:{'autocomplete':'nofill', 'placeholder':'ex : 06 01 02 03 04', 'pattern':'0[1-6789]([-. ]?[0-9]{2}){4}'}}) }}</div>
                            <ul class="error" style="font-weight: bold;color:red" id="err-telephone">{{ form_errors(form.telephone) }}</ul>    
                            </div>
                        </div>
                        
                        <div class="col-sm-12 col-md-6 nopadding">
                            <div class="row nomargin red">
                                <div class="form-col-label col-sm-12 col-md-2-5 nopadding  text-uppercase text-right pr-2" style="">
                                <span class="label-description">{{ form_label(form.email) }}</span><span class="label-mandatory">*</span>
                            </div>
                            <div class="form-col-fields col-sm-12 col-md-9-5 nopadding">{{ form_widget(form.email,{attr:{ 'pattern':'^[^ ]+@[^ ]+\\.[a-z]{2,6}$'}}) }}</div>
                            <ul class="error" style="font-weight: bold;color:red" id="err-email">{{ form_errors(form.email) }}</ul>    
                            </div>
                        </div>
                    </div>

                    <div class="row blue contained">
                        <div class="form-col-label col-sm-12 col-md-2 nopadding  text-uppercase" style="">
                            <span class="label-description">{{ form_label(form.etablissement) }}</span><span class="label-mandatory">*</span>
                        </div>
                        <div class="form-col-fields col-sm-12 col-md-10 nopadding">{{ form_widget(form.etablissement,{attr:{'autocomplete':'nofill'}}) }}</div>
                        <ul class="error" style="font-weight: bold;color:red" id="err-civilite">{{ form_errors(form.etablissement) }}</ul>    
                    </div>
                            
                            
                    <div class="row blue contained">
                        <div class="col-sm-12 col-md-6 nopadding">
                            <div class="row nomargin red">
                                <div class="form-col-label col-sm-12 col-md-4 nopadding  text-uppercase" style="">
                                <span class="label-description">{{ form_label(form.code_postal) }}</span><span class="label-mandatory">*</span>
                            </div>
                            <div class="form-col-fields col-sm-12 col-md-8 nopadding">{{ form_widget(form.code_postal,{attr:{'autocomplete':'nofill'}}) }}</div>
                            <ul class="error" style="font-weight: bold;color:red" id="err-code_postal">{{ form_errors(form.code_postal) }}</ul>    
                            </div>
                        </div>
                        
                        <div class="col-sm-12 col-md-6 nopadding">
                            <div class="row nomargin red">
                                <div class="form-col-label col-sm-12 col-md-2-5 nopadding  text-uppercase  text-right pr-2" style="">
                                <span class="label-description">{{ form_label(form.ville) }}</span><span class="label-mandatory">*</span>
                            </div>
                            <div class="form-col-fields col-sm-12 col-md-9-5 nopadding">{{ form_widget(form.ville,{attr:{'autocomplete':'nofill'}}) }}</div>
                            <ul class="error" style="font-weight: bold;color:red" id="err-ville">{{ form_errors(form.ville) }}</ul>    
                            </div>
                        </div>
                    </div>

                    <div class="row blue contained">
                        <div class="form-col-label col-sm-12 col-md-2 nopadding  text-uppercase" style="">
                            <span class="label-description">{{ form_label(form.sujet) }}</span><span class="label-mandatory">*</span>
                        </div>
                        <div class="form-col-fields col-sm-12 col-md-10 nopadding">{{ form_widget(form.sujet,{attr:{'autocomplete':'nofill'}}) }}</div>
                        <ul class="error" style="font-weight: bold;color:red" id="err-civilite">{{ form_errors(form.sujet) }}</ul>    
                    </div>
                        
                    <div class="row blue contained">
                        <div class="form-col-label col-sm-12 col-md-2 nopadding  text-uppercase" style="">
                            <span class="label-description">{{ form_label(form.message) }}</span><span class="label-mandatory">*</span>
                        </div>
                        <div class="form-col-fields col-sm-12 col-md-10 nopadding">{{ form_widget(form.message,{attr:{'autocomplete':'nofill'}}) }}</div>
                        <ul class="error" style="font-weight: bold;color:red" id="err-civilite">{{ form_errors(form.message) }}</ul>    
                    </div>
                    
                    <div class="col">
                        {{ form_row(form.submit) }}
                    </div>
                {{ form_end(form) }}
        </div>
    </div>
</div>

{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('logged') }}
    {{ encore_entry_link_tags('declaration') }}
{% endblock %}