{% extends 'interface/logged.html.twig' %}

{% block pageTitle %}Bienvenue sur l'interface de déclaration des éléments de facturation du CFC{% endblock %}


{% block content %}


         {% if wtype.messageRappelDeclaration %}
            
            <div class="message-rappel">
                {{ wtype.messageRappelDeclaration|raw }}
            </div>
            {% endif %}
            

            {% if wtype.introductionOuvert %}
            <div class="introduction-ouvert">
                {% if wdeclar.wdeAnneeDecl|length == 4 %}
                    {{ wtype.introductionOuvert|raw|replace({'[activation_date]': wtype.activationCivile})|raw }}
                {% else %}
                    {{ wtype.introductionOuvert|raw|replace({'[activation_date]': wtype.activationScolaire})|raw }}
                {% endif %}
                
                {% set opened_main_declar=0 %}
                {% for chained in contrats_chained['chaine'] %}
                    {% if chained.etape=="declaration" and chained.wde_etat_declar in ['N','V','A'] %}
                        {% set opened_main_declar=1 %}
                    {% endif %}
                {% endfor %}
				{% if contrats_chained['chaine']|length%}
                    {% if opened_main_declar %}
                        <div class="btn-black">
                            <a href ="{% if contrats_chained['chaine']|length > 1 and contrats_chained['chaine'][0].chaine_force is not defined %}
                                {{ path('declaration') }}
                            {% else %}
                                {{ path('declaration-independant', {'wtype_id': contrats_chained['chaine'][0].wtype.id}) }}
                            {% endif %}"> Effectuer ma déclaration pour les 
                            {% if contrats_chained['chaine']|length>2%}
                                {{ wtype.getLabelInterfaceHome()|replace({'%wde_annee%':  contrats_chained['chaine'][0].wde_annee})|replace({'%wde_numperiod%':  contrats_chained['chaine'][0].wde_numperiod})  }} 
                            {% else %}
                            	{{ wtype.getLabelInterface()|replace({'%wde_annee%':  contrats_chained['chaine'][0].wde_annee})|replace({'%wde_numperiod%':  contrats_chained['chaine'][0].wde_numperiod})  }} 
                            {% endif %}
                            {% if contrats_chained['chaine'][0].label_annee|length %} : {{ contrats_chained['chaine'][0].label_annee}}{% endif %}</a>
                        </div>
                    
                    {% else %}
                        <div class="btn-black">
                        <div>Effectuer ma déclaration pour les 
                        
                     {% if contrats_chained['chaine']|length>2%}
                            {{ wtype.getLabelInterfaceHome()|replace({'%wde_annee%':  contrats_chained['chaine'][0].wde_annee})|replace({'%wde_numperiod%':  contrats_chained['chaine'][0].wde_numperiod}) }} 
                     {% else %}
                     		{{ wtype.getLabelInterface()|replace({'%wde_annee%':  contrats_chained['chaine'][0].wde_annee})|replace({'%wde_numperiod%':  contrats_chained['chaine'][0].wde_numperiod}) }} 
                     {% endif %}
                     {% if contrats_chained['chaine'][0].label_annee|length %} : {{ contrats_chained['chaine'][0].label_annee}}{% endif %}</div>
                        </div>
                        <span>Vous avez  effectué votre déclaration pour les 
                        {% if contrats_chained['chaine']|length>2%}
                            {{ wtype.getLabelInterfaceHome()|replace({'%wde_annee%':  contrats_chained['chaine'][0].wde_annee})|replace({'%wde_numperiod%':  contrats_chained['chaine'][0].wde_numperiod}) }}
                         {% else %}
                            {{ wtype.getLabelInterface()|replace({'%wde_annee%':  contrats_chained['chaine'][0].wde_annee})|replace({'%wde_numperiod%':  contrats_chained['chaine'][0].wde_numperiod}) }}
                         {% endif %}
                         : {{ contrats_chained['chaine'][0].label_annee }}</span>
                    
                    {% endif %}
                {% endif %}
            		
            		
            		
            {% for independant in contrats_chained['independant'] %}
                {% if independant.etape =='declaration' %}
                    {% if independant.wde_etat_declar in ['F','E'] %}
                    
                    
                    	 <div class="btn-black">
                             <div>Effectuer ma déclaration pour les  {{ independant.wtype.getLabelInterface()|replace({'%wde_annee%':  independant.wde_annee}) }} {% if independant.label_annee|length %} : {{ independant.label_annee }}{% endif %}</div>
                        </div>
                        <span>Vous avez  effectué votre déclaration pour les {{ independant.wtype.getLabelInterface()|replace({'%wde_annee%':  independant.wde_annee})|replace({'%wde_numperiod%':  independant.wde_numperiod}) }} {% if independant.label_annee|length %} : {{ independant.label_annee }}{% endif %}</span>
                     {% endif %}
                     {% if independant.wde_etat_declar in ['N','V','P','W','A'] and independant.etape=="declaration" %}
                     <div class="btn-black">
                            <a href ="{{ path('declaration-independant', {'wtype_id': independant.wtype.id}) }}"> 
                            Effectuer ma déclaration pour les {{ independant.wtype.getLabelInterface()|replace({'%wde_annee%':  independant.wde_annee})|replace({'%wde_numperiod%':  independant.wde_numperiod})|replace({'%wde_dossier%':  independant.wde_dossier})|replace({'%wde_contrat%':  independant.wde_contrat}) }} {% if independant.label_annee|length %} : {{ independant.label_annee }}{% endif %}      
                             </a>
                        </div>
                     {% endif %}
                 {% endif %}
            {% endfor %}
            
        
            		
            
            
            
            </div>
            {% endif %}



            {% if wtype.introductionOuvertComplement %}
            <div class="introduction-ouvert-complement">
                {{ wtype.introductionOuvertComplement|raw }}
            </div>
            {% endif %}
            
            
{% endblock %}
