{% extends 'base.html.twig' %}
{% block body %}
    

    <div class="page-logged">
        {% block subTitle %}
        {% set context = "home_logged_closed" %}
        {% include 'interface/declaration/partial/header_declaration.html.twig'%}

        {% endblock %}


    {% block content %}
    
    {% endblock %}

    </div>

{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('logged') }}
{% endblock %}