/*wconf display*/
div[id*="_type_objet_conf_"][id*="key"].form-group{
	width: 30%;
	float:left;
	
}
div[id*="_type_objet_conf_"][id*="value"].form-group{
	width: 60%;
	float:left;
	margin-left: 10px;
}

.sonata-ba-list-field-header-batch{
	width: 50px;
}