/*wconf display*/
div[id*="_type_objet_conf_"][id*="key"].form-group{
	width: 40%;
	float:left;
	
}
div[id*="_type_objet_conf_"][id*="value"].form-group{
	width: 55%;
	float:left;
	margin-left: 10px;
}

.sonata-ba-list-field-header-batch{
	width: 50px;
}

.sonata-ba-view {
	width: 750px;
	margin: 0 auto;
	.sonata-menu {
		font-size: 10pt;
		padding: 4px;
		border-bottom: 1px solid #ccc;
		.menu-item--label {
			text-transform: uppercase;
			color: #828282;
			margin-right: 5px;
		}
	}
	h1, h2, h3 {
		margin: 30px 0 15px;
		text-align: center;
		font-weight: bold;
		text-transform: uppercase;
	}
	h2, h3 {
		text-align: left;
	}
	h1 {
		font-size: 18pt;
		line-height: 21.6pt;
	}
	h2 {
		font-size: 12pt;
		line-height: 14.5pt;
		&::after {
			content: "";
			background-color: #006E96;
			width: 90px;
			height: 5pt;
			display: inline-block;
			margin-left: 5px;
			position: relative;
			top: -2px;
		}
	}
	h3 {
		font-size: 14px;
		line-height: 18px;
	}
}