.row {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
}
.page-login {
    width: 100%;
    .description {
        margin-top: 56px;
        font-size: 24px;
        text-align: center;
        line-height: 1;
        font-family: 'Montserrat SemiBold';
        color: #fff;
        & + div {
            margin-top: 20px;
            text-align: center;
            font-size: 12px;
            line-height: 18px;
            color: #fff;
        }
    }
    .form-password-forgot {
        border: 1px solid #fff;
        margin-top: 35px;
        margin-bottom: 190px;
        padding: 23px 40px 67px;
        background-color: rgba(244, 244, 243, 0.2);
        .form-notice {
            font-size: 10px;
            line-height: 1;
            color: #fff;
            text-align: right;
            font-family: 'Montserrat Medium';
            margin-bottom: 42px;
        }
        .row {
            .col {
                margin-bottom: 10px;
                padding: 0;
                flex: 0 0 100%;
                max-width: 100%;
                &:nth-child(5) {
                    margin-bottom: 20px;
                }
                div {
                    display: flex;
                    align-items: flex-start;
                    label {
                        color: #fff;
                        font-size: 12px;
                        max-width: 172px;
                        flex: 0 0 172px;
                        margin-bottom: 0;
                    }
                    input, select {
                        max-width: calc(100% - 172px);
                        flex: 0 0 calc(100% - 172px);
                        height: 20px;
                        font-size: 12px;
                        border: 1px solid #7bb2c7;
                        font-family: 'Montserrat';
                        border-radius: 0;
                        padding: 0 5px;
                        &:hover, &:focus {
                            border: 1px solid #7bb2c7;
                        }
                    }
                }
                &.half-width {
                    &.left {
                        flex: 0 0 60%;
                        max-width: 60%;
                    }
                    &.right {
                        flex: 0 0 40%;
                        max-width: 40%;
                        div {
                            label {
                                flex: 0 0 62px;
                                padding-left: 10px;
                            }
                            input {
                                flex: 0 0 calc(100% - 62px);
                                max-width: calc(100% - 62px);
                            }
                        }
                    }
                }
                &:last-child {
                    margin-top: 42px;
                    div {
                        button {
                            width: 264px;
                            font-size: 16px;
                            line-height: 19px;
                            font-family: 'Montserrat SemiBold';
                            text-transform: uppercase;
                            height: 32px;
                            background-color: #BDCCD4;
                            border: 1px solid #BDCCD4;
                            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
                            margin-left: 172px;
                        }
                    }
                }
                &.input-select-wrapper {
                    select {
                        background: url("/build/images/arrow.svg") no-repeat right white;
                        background-size: 16.667px 10px;
                        background-position-y: 5px;
                        background-position-x: calc(100% - 2px);
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        padding-right: 20px;
                        overflow-x: hidden;
                        &::-ms-expand {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .page-login {
        .form-password-forgot {
            .row {
                .col {
                    div {
                        flex-wrap: wrap;
                        label, input, select {
                            flex: 0 0 100%;
                            max-width: 100%;
                        }
                    }
                    &.half-width {
                        &.left, &.right {
                            flex: 0 0 100%;
                            max-width: 100%;
                        }
                        &.right {
                            div {
                                label {
                                    padding-left: 0;
                                }
                                label, input {
                                    flex: 0 0 100%;
                                    max-width: 100%;
                                }
                            }
                        }
                    }
                    &:last-child {
                        div {
                            justify-content: center;
                            button {
                                margin-left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}