body {
    margin-top: 24px;
    background-image: linear-gradient(#007e93, #006E97, #009C8B);
    min-height: 100vh;
    font-family: 'Montserrat';
    //padding-bottom: 92px;
    padding-bottom: 44px;
    position: relative;
    & > .container {
        min-height: 75vh;
    }
}
input:-internal-autofill-selected {
    background-color: rgb(0, 0, 0) !important;
}
b, strong {
    font-family: 'Montserrat Bold';
}
.container {
    max-width: 754px;
}
.logo-title {
    display: flex;
    a {
        position: relative;
        z-index: 999;
    }
    img {
        width: 104px;
        height: 104px;
    }
    h1.title {
        display: flex;
        align-items: center;
        padding-left: 20px;
        color: #fff;
        font-size: 30px;
        line-height: 36px;
        font-family: 'Montserrat Bold';
        margin-bottom: 0;
    }
}
.header-nav {
    margin-bottom: -24px;
    text-align: right;
    height: 30px;
    position: relative;
    z-index: 999;
    .contact, .logout, .menu-item {
        font-size: 12px;
        line-height: 1;
    }
    .contact {
        &::before {
            content: url("/build/images/mail-icon.svg");
            display: inline-block;
            width: 24px;
            height: 18px;
            position: relative;
            top: 4px;
            margin-right: 4px;
        }
    }
    .logout {
        &::before {
            content: url("/build/images/exit-icon.svg");
            display: inline-block;
            width: 20px;
            height: 18px;
            position: relative;
            top: 4px;
            margin-right: 4px;
        }
    }
    .container {
        a {
            color: #fff;
            text-transform: uppercase;
            font-family: 'Montserrat Medium';
            display: inline-block;
            margin-right: 16px;
            &:hover, &:focus {
                text-decoration: none;
                color: #00FFFF;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
footer {
    background-color: #000;
    padding: 14px 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    .inner {
        color: #fff;
        font-size: 11px;
        font-family: 'Montserrat';
        
    }
    .mention-legales, .mention-legales:hover{
    	color: #fff;
    	text-decoration: underline;
    }

}

    
.sucess-message {
    margin-top: 60px;
    margin-bottom: 40px;
    padding: 50px 28px;
    background: #fff;
    font-family: 'Montserrat Medium';
    font-size: 14px;
    line-height: 16px;
    div {
        margin-bottom: 15px;
    }
}
@media (max-width: 767px) {
    .container {
        max-width: 100%;
        padding: 0 15px;
    }
    .header-nav {
        margin-bottom: 0;
        text-align: center;
        height: auto;
    }
    .header {
        margin-top: 10px;
        .logo-title {
            display: block;
            text-align: center;
            h1.title {
                margin-top: 10px;
                padding-left: 0;
                justify-content: center;
            }
        }
    }
    footer {
        .inner {
            padding: 0 15px;
        }
    }
}
@media (max-width: 475px) {
    .page-login {
        .form-login {
            padding: 25px;
        }
    }
}