{% if admin.isGranted('EDIT', object) and admin.hasRoute('edit') %}
<a class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('clone', object) }}" title="{{ 'Clone'|trans({}, 'default') }}" alt="{{ 'Clone'|trans({}, 'default') }}"><i class="fa fa-clone"></i></a>
{% endif %}