{% extends 'interface/interface-closed.html.twig' %}

{% block siteLogo %}<img src="{{ asset('build/images/logo-wide.svg') }}" alt="logo" width="190" height="47">{% endblock %}
{% block subTitle %} {% endblock %}

{% block body %}
    <div class="page-logged">
    {% set context = "modification" %}
    
    {% include 'interface/declaration/partial/header_declaration.html.twig'%}
    
		<div class="introduction-ouvert container debug coordinate ">
			<div class="form-title contained" contained>METTRE À JOUR VOS COORDONNÉES</div>
			<div class="form-notice contained">* CHAMPS OBLIGATOIRES</div>
                {% include 'interface/declaration/partial/form.html.twig'%}
        </div>
            
    </div>

{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('logged') }}
    {{ encore_entry_link_tags('declaration') }}
{% endblock %}