<p>Bonjour, </p>

<p>Vous avez recus un message via le formulaire de contact de l'extranet </p>
<p>Les informations saisies sont les suivantes : </p>
<p>
<strong>Civilite</strong> : {{ data.civilite }}<br>
<strong>Nom</strong> : {{  data.nom }}<br>
<strong>Fonction</strong> : {{  data.fonction }}<br>
<strong>Telephone</strong> : {{  data.telephone }}<br>
<strong>Email</strong> : {{ data.email }}<br>
<strong>Etablissement</strong> : {{ data.etablissement }}<br>
<strong>Code postal</strong> :  {{ data.code_postal }}<br>
<strong>Ville</strong> : {{ data.ville }}<br><br>
<strong>Sujet</strong> : {{ data.sujet }}<br>
<strong>Message</strong> : {{ data.message }}<br>
</p>