<div class="form-step">
{% set declaration_num=declaration_conf|length %}
{%  for conf  in  declaration_conf %}
    <div {% if loop.index==step %} class="active" {% endif %} {% if loop.index<step  %} class="inactive-hover" {% endif %}>
    {% if loop.index==1 %}
        {% if loop.index<step or loop.index>1 %}

            
         {% if wtype_id is defined and wtype_id|length%}
               
        		<a href="{{ path('declaration-independant',{'step':loop.index, 'wtype_id':wtype_id}) }}">Coordonnées</a>
            {% else %}
        		<a href="{{ path('declaration',{'step':loop.index}) }}">Coordonnées</a>
            {% endif %}
            
            
        {% else %}Coordonnées{% endif %}
    
    {% endif %}
    {% if loop.index>1 and conf[0].type_etape=="coordonnees" %}

        {% if loop.index<step  %}
            {% if wtype_id is defined and wtype_id|length%}
        		<a href="{{ path('declaration-independant',{'step':loop.index, 'wtype_id':wtype_id}) }}">Coordonnées</a>
            {% else %}
        		<a href="{{ path('declaration',{'step':loop.index}) }}">Coordonnées</a>
            {% endif %}
    {% else %}Coordonnées{% endif %}
      
        {%if declaration_num > 2%}{{ loop.index -1 }}{% endif %} 
    {% endif %}
    {% if loop.index>1 and conf[0].type_etape=="declaration" %}{% if loop.index<step  %}

                {% if wtype_id is defined and wtype_id|length%}
        		<a href="{{ path('declaration-independant',{'step':loop.index, 'wtype_id':wtype_id}) }}">Déclaration</a>
            {% else %}
        		<a href="{{ path('declaration',{'step':loop.index}) }}">Déclaration</a>
            {% endif %}
    {% else %}Déclaration{% endif %}
    
    {%if declaration_num > 2%}{{ loop.index -1 }}{% endif %}{% endif %}
    </div>
{% endfor %}
<div {% if step== declaration_conf|length +1 %} class="active" {% endif %}>Envoi</div>
 
</div>