<style>
.abo-press-livres.label-description{
	margin-top: -15px !important;
	padding-bottom: 15px !important;
}
.page-logged .introduction-ouvert .row.label.abo-press-livres::before {
	width: 175px !important;
}
.page-logged .introduction-ouvert .row.label.abo-press-livres{
	margin-top: 20px;
}


.abo-press.label-description{
	margin-top: -15px !important;
	padding-bottom: 15px !important;
}
.page-logged .introduction-ouvert .row.label.abo-press-item::before {
	width: 175px !important;
}
.page-logged .introduction-ouvert .row.label.abo-press-item{
	margin-top: 20px;
}


.abo-press-blue .label.abo-press-livres{
	margin-left: 0px !important;
}
.abo-press-blue .abo-press-livres span {
	background-color: #f6f9fb !important;
}


</style>


{% if i.labelVisible %}
<div class="row panorama-subtitle contained"><span style="text-transform: none;">{{ i.label()|raw}}</span></div>
{% endif %}

<div class="row   abo-press-blue contained" >
    <div class="row label abo-press-item" style="margin-top: 30px !important;">
       <span class="title text-uppercase font-weight-bold"><span style="color:red;padding:0 !important;margin:0 !important;background-color:unset !important;">Charger votre fichier excel</span> contenant vos abonnements et achats de presse ou de livres</span>
    </div>

	<div class="row  abo-press-item" >
    	<div class="col-sm-12 col-md-12 text-left file-upload-notice font-site-13 ">
        	(Vous pouvez également <a href="{{ path('declaration_media_download', {'id': 4})}}" target="_Blank" class="font-weight-bold">télécharger un modèle de fichier  excel</a> et le renvoyer complété) 
        </div>
    </div>


    <div class="row abo-press-item">
            <div class="col-sm-12 col-md-12  label-description-container text-uppercase text-left"><span class="form-col-label label-description font-weight-bold text-uppercase">Chargez votre fichier</span>
    		<label for="file-upload" class="custom-file-upload text-uppercase">Parcourir <i class="custom-file-upload-icon"></i></label>
            <input class="wabo_fichier" name="wabo_fichier" id="file-upload" type="file" placeholder=".xl, .xls" accept=".xlsx, .xls, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel, application/vnd.msexcel, text/csv" />
    		<label class="custom-file-upload-filename"><input class="custom-file-upload-filename-text" type="text" placeholder=".xl .xls" style="background-color: #f6f9fb !important;" disabled=disabled> <a class="delete_file" href="javascript:;" onclick="reset_file_upload(this)"></a></label>
    		
    		<input type="hidden" name="wabo_fichier_media_key" class="wabo_fichier_media_key" value="{{ db_data['abo_press_livres']['wabo_fichier_media_key'] }}">
    		<input type="hidden" name="wabo_fichier_name" class="wabo_fichier_name" value="{{ db_data['abo_press_livres']['wabo_fichier_name'] }}">
    		
    		</div>
    		            	<div class="col-sm-12 col-md-2  text-uppercase"></div>
    </div>	

    <div class="row label abo-press-item">
       <span class="title text-uppercase font-weight-bold"><span style="color:red;padding:0 !important;margin:0 !important;background-color:unset !important;">ou  Saisir </span> LA LISTE ET LE NOMBRE DE VOS ABONNEMENTS ET ACHATS DE PRESSE ET DE LIVRES</span>
    </div>

	
	<div class="col-sm-12 col-md-12">
        <div class="row label  abo-press-livres contained" >
           <span class="title text-uppercase font-weight-bold">Presse</span>
        </div>
    </div>

    <script>
    
    var abo_livre_titre_line='';
    abo_livre_titre_line +='<div class="abo-press-livres-titre-line">';
    abo_livre_titre_line +='	<div class="row ">';
    abo_livre_titre_line +='		<div class="col-sm-12 col-md-2-5  label-description-container text-uppercase text-left mt-0 font-weight-bold">Titre de presse</div>';
    abo_livre_titre_line +='		<div class="col-sm-12 col-md-8  label-description-container text-uppercase text-left mt-0"><input type="text" class="wabop_titre field-large" placeholder="TITRE DE PRESSE" name="wabop_titre[]" value="" oninput="this.setCustomValidity(\'\');$(this).parent().parent().find(\'.add-press a\').tooltip(\'dispose\');" required></div>';
    abo_livre_titre_line +='		<div class="col-sm-12 col-md-1-5  label-description-container text-uppercase text-left mt-0">';
    abo_livre_titre_line +='			<div class="col-compos-button nopadding add-press float-left"><a href="javascript:void(0);" onclick="add_titre_press(this)"  data-tooltip="Veuillez renseigner ou supprimer ce champ" title="Rajouter un titre de presse">+</a></div>';
    abo_livre_titre_line +='			<div class="col-compos-button nopadding float-left"><a href="javascript:void(0);" onclick="delete_titre_press(this)" title="Supprimer un titre de presse">X</a></div>';

    abo_livre_titre_line +='		</div>';
    abo_livre_titre_line +='	</div>';
    abo_livre_titre_line +='	<div class="row ">';
    abo_livre_titre_line +='		<div class="col-sm-12 col-md-2-5  label-description-container text-uppercase text-left mt-0 font-weight-bold">&nbsp;</div>';
    abo_livre_titre_line +='		<div class="col-sm-12 col-md-3  label-description-container text-uppercase text-left mt-0 font-weight-bold">NOMBRE D’ABONNEMENTS</div>';
    abo_livre_titre_line +='		<div class="col-sm-12 col-md-1  label-description-container text-uppercase text-left mt-0"><input type="number" class="wabop_nombre" placeholder="" name="wabop_titre_nombre[]" value="" oninput="this.setCustomValidity(\'\');$(this).parent().parent().find(\'.add-press a\').tooltip(\'dispose\');" required style="-moz-appearance: unset;" min="1" max="10000000000000"></div>';
    abo_livre_titre_line +='	</div>';
    
    
    abo_livre_titre_line +='</div>';
    
    
    var abo_livre_site_line='';
    abo_livre_site_line +='<div class="abo-press-livres-site-line">';
    abo_livre_site_line +='	   <div class="row ">';
    abo_livre_site_line +='	   	   <div class="col-sm-12 col-md-2-5  label-description-container text-uppercase text-left mt-0 font-weight-bold">Site de presse</div>';
    abo_livre_site_line +='	   	   <div class="col-sm-12 col-md-8  label-description-container text-uppercase text-left mt-0"><input type="text" class="wabop_site field-large" placeholder="SITE DE PRESSE" name="wabop_site[]" value="" oninput="this.setCustomValidity(\'\');$(this).parent().parent().find(\'.add-press a\').tooltip(\'dispose\');" required></div>';
    abo_livre_site_line +='	   	   <div class="col-sm-12 col-md-1-5  label-description-container text-uppercase text-left mt-0">';
    abo_livre_site_line +='	   			   <div class="col-compos-button nopadding add-press float-left"><a href="javascript:void(0);" onclick="add_site_press(this)"  data-tooltip="Veuillez renseigner ou supprimer ce champ" title="Rajouter un site de presse">+</a></div>';
    abo_livre_site_line +='	   			   <div class="col-compos-button nopadding float-left"><a href="javascript:void(0);" onclick="delete_site_press(this)" title="Supprimer un titre de presse">X</a></div>';
    abo_livre_site_line +='	   	   </div>';
    abo_livre_site_line +='	   </div>';

    abo_livre_site_line +='	<div class="row ">';
    abo_livre_site_line +='		<div class="col-sm-12 col-md-2-5  label-description-container text-uppercase text-left mt-0 font-weight-bold">&nbsp;</div>';
    abo_livre_site_line +='		<div class="col-sm-12 col-md-3  label-description-container text-uppercase text-left mt-0 font-weight-bold">NOMBRE D’ABONNEMENTS</div>';
    abo_livre_site_line +='		<div class="col-sm-12 col-md-1  label-description-container text-uppercase text-left mt-0"><input type="number" class="wabop_nombre" placeholder="" name="wabop_site_nombre[]" value="" oninput="this.setCustomValidity(\'\');$(this).parent().parent().find(\'.add-press a\').tooltip(\'dispose\');" required style="-moz-appearance: unset;" min="1" max="10000000000000"></div>';
    abo_livre_site_line +='	</div>';
    
    abo_livre_site_line +='</div>';
    
    
    
    </script>
 

  <div class="col-sm-12 col-md-12  abo-press-livres-titre-container text-uppercase text-left abo-press-livres file-row">
 		<div class="abo-press-livres-titre-container-line">
            {% for titre in db_data['abo_press_livres']['wabo_publications'] %}
            {% if titre['wabopType']=='titre' %}
            <div class="abo-press-livres-titre-line">
            	<div class="row ">
                	<div class="col-sm-12 col-md-2-5  label-description-container text-uppercase text-left mt-0 font-weight-bold">Titre de presse</div>
                	<div class="col-sm-12 col-md-8  label-description-container text-uppercase text-left mt-0"><input type="text" class="wabop_titre field-large" placeholder="TITRE DE PRESSE" name="wabop_titre[]" value="{{ titre['wabopTitre'] }}" oninput="this.setCustomValidity('');$(this).parent().parent().find(\'.add-press a\').tooltip(\'dispose\');" required></div>
                	<div class="col-sm-12 col-md-1-5  label-description-container text-uppercase text-left mt-0">
                		<div class="col-compos-button nopadding add-press float-left"><a href="javascript:void(0);" onclick="add_titre_press(this)" data-tooltip="Veuillez renseigner ou supprimer ce champ" title="Rajouter un titre de presse">+</a></div>
        			    <div class="col-compos-button nopadding float-left"><a href="javascript:void(0);" onclick="delete_titre_press(this)" title="Supprimer un titre de presse">X</a></div>
        			</div>
    			</div>
    			<div class="row ">
                	<div class="col-sm-12 col-md-2-5  label-description-container text-uppercase text-left mt-0 font-weight-bold">&nbsp;</div>
                	<div class="col-sm-12 col-md-3  label-description-container text-uppercase text-left mt-0 font-weight-bold" >NOMBRE D’ABONNEMENTS</div>
    			    <div class="col-sm-12 col-md-1  label-description-container text-uppercase text-left mt-0"><input type="number" class="wabop_nombre" placeholder="" name="wabop_titre_nombre[]" value="{{ titre['wabopNombre'] }}" oninput="this.setCustomValidity('');$(this).parent().parent().find(\'.add-press a\').tooltip(\'dispose\');" required style="-moz-appearance: unset;" min="1" max="10000000000000"></div>
    			</div>
            </div>
             
            
           
            {% endif %}
            {% endfor %}
        </div>
        
        <div class="row blue add-first-press">
        	<div class="col-sm-12 col-md-12  label-description-container text-uppercase text-left mt-0">
				<a href='javascript:add_first_press();'>Ajouter un titre de presse</a>
			</div>
        </div>
            
            
        <div class=" dotted-line  col-sm-12 col-md-12"></div>
        
        
        <div class="abo-press-livres-site-container-line">
            {% for titre in db_data['abo_press_livres']['wabo_publications'] %}
            {% if titre['wabopType']=='site' %}
        	<div class="abo-press-livres-site-line">
        		<div class="row ">
        			<div class="col-sm-12 col-md-2-5  label-description-container text-uppercase text-left mt-0 font-weight-bold">Site de presse</div>
                	<div class="col-sm-12 col-md-8  label-description-container text-uppercase text-left mt-0"><input type="text" class="wabop_site field-large" placeholder="SITE DE PRESSE" name="wabop_site[]" value="{{ titre['wabopTitre'] }}" oninput="this.setCustomValidity('');$(this).parent().parent().find(\'.add-press a\').tooltip(\'dispose\');" required></div>
                	<div class="col-sm-12 col-md-1-5  label-description-container text-uppercase text-left mt-0">
                		<div class="col-compos-button nopadding add-press float-left"><a href="javascript:void(0);" onclick="add_site_press(this)" data-tooltip="Veuillez renseigner ou supprimer ce champ" title="Rajouter un titre de presse">+</a></div>
                		<div class="col-compos-button nopadding float-left"><a href="javascript:void(0);" onclick="delete_site_press(this)" title="Supprimer un titre de presse">X</a></div>

        			</div>
        		</div>
        		<div class="row ">
                	<div class="col-sm-12 col-md-2-5  label-description-container text-uppercase text-left mt-0 font-weight-bold">&nbsp;</div>
                	<div class="col-sm-12 col-md-3  label-description-container text-uppercase text-left mt-0 font-weight-bold">NOMBRE D’ABONNEMENTS</div>
    			    <div class="col-sm-12 col-md-1  label-description-container text-uppercase text-left mt-0"><input type="number" class="wabop_nombre" placeholder="" name="wabop_site_nombre[]" value="{{ titre['wabopNombre'] }}" oninput="this.setCustomValidity('');$(this).parent().parent().find(\'.add-press a\').tooltip(\'dispose\');" required style="-moz-appearance: unset;" min="1" max="10000000000000"></div>
    			</div>
        	</div>
        	{% endif %}
            {% endfor %}
        </div>
        
        <div class="row blue add-first-site">
        	<div class="col-sm-12 col-md-12  label-description-container text-uppercase text-left mt-0">
				<a href='javascript:add_first_site();'>Ajouter un site de presse</a>
			</div>
        </div>
        
        
 </div>
 

  

 <div class="col-sm-12 col-md-12"><div class="row" >&nbsp;</div></div>

	<div class="col-sm-12 col-md-12">
        <div class="row label  abo-press-livres contained" >
           <span class="title text-uppercase font-weight-bold">Livres</span>
        </div>
    </div>
 
<script>
var abo_livre_line='';

abo_livre_line +='<div class="row abo-press-livres-line mb-0 mt-0">';

abo_livre_line +='<div class="col-sm-12 col-md-12 text-left mt-0">';

abo_livre_line +='   <div class="row abo-press-livres  mb-0 mt-0">';
abo_livre_line +='          <div class="col-sm-12 col-md-1-5  label-description-container text-uppercase text-left mt-0 text-uppercase font-weight-bold">Titre livre</div>';
abo_livre_line +='        	<div class="col-sm-12 col-md-5  label-description-container text-uppercase text-left mb-0 mt-0 mr-3"><input type="text" class="wabop_livre field-large" placeholder="" name="wabop_livre[]" value="" oninput="this.setCustomValidity(\'\');$(this).closest(\'.abo-press-livres-line\').find(\'.add-panorama a\').tooltip(\'dispose\');" required></div>';
abo_livre_line +='        	<div class="col-sm-12 col-md-2-5  label-description-container text-uppercase text-left mt-0 text-uppercase font-weight-bold">NOMBRE D’ACHATS</div>';
abo_livre_line +='        	<div class="col-sm-12 col-md-1  label-description-container text-uppercase text-left mt-0"><input type="number" class="wabop_nombre" placeholder="" name="wabop_livre_nombre[]" value="" oninput="this.setCustomValidity(\'\');$(this).parent().parent().find(\'.add-press a\').tooltip(\'dispose\');" required style="-moz-appearance: unset;" min="1" max="10000000000000"></div>';
abo_livre_line +='   </div>';


abo_livre_line +='<div class="row mb-0 mt-0">';
abo_livre_line +='  <div class="col-sm-12 col-md-6  label-description-container text-uppercase text-left mb-0 mt-0">';
abo_livre_line +='    <div class="row blue mb-0 mt-0">';
abo_livre_line +='    	<div class="col-sm-12 col-md-10  label-description-container text-uppercase text-left mt-0"><input type="text" class="wabop_auteur field-large" placeholder="AUTEUR(S) LIVRE" name="wabop_auteur[]" value="" oninput="this.setCustomValidity(\'\');$(this).closest(\'.abo-press-livres-line\').find(\'.add-panorama a\').tooltip(\'dispose\');" required></div>';
abo_livre_line +='    	<div class="col-sm-12 col-md-2  label-description-container text-uppercase text-left mt-0"></div>';
abo_livre_line +='    </div>';
abo_livre_line +='  </div>';
abo_livre_line +='  <div class="col-sm-12 col-md-6  label-description-container text-uppercase text-left mb-0 mt-0">';
abo_livre_line +='	   <div class="row blue mb-0 mt-0">';
abo_livre_line +='        	<div class="col-sm-12 col-md-10  label-description-container text-uppercase text-left mt-0"><input type="text" class="wabop_editeur field-large" placeholder="EDITEUR LIVRE" name="wabop_editeur[]" value="" oninput="this.setCustomValidity(\'\');$(this).closest(\'.abo-press-livres-line\').find(\'.add-panorama a\').tooltip(\'dispose\');" required></div>';
abo_livre_line +='        	<div class="col-sm-12 col-md-2  label-description-container text-uppercase text-left mt-0">';
abo_livre_line +='        		<div class="col-compos-button nopadding add-panorama float-left"><a href="javascript:void(0);" onclick="add_titre_livre(this)" data-tooltip="Veuillez renseigner ou supprimer ce champ" title="Rajouter un titre livre">+</a></div>';
abo_livre_line +='        		<div class="col-compos-button nopadding float-left"><a href="javascript:void(0);" onclick="delete_titre_livre(this)" title="Supprimer un titre livre">X</a></div>';
abo_livre_line +='			</div>';
abo_livre_line +='	   </div>';
abo_livre_line +='   </div>';
abo_livre_line +='</div>';

abo_livre_line +='</div>';




</script>
 
<div class="col-sm-12 col-md-12 abo-press-livres-container contained mb-0 mt-0">
	<div class="col-sm-12 col-md-12 text-left mt-0 abo-press-livres-container-line" style="padding-left: 0px !important; padding-right: 0px !important">
            {% for titre in db_data['abo_press_livres']['wabo_publications'] %}
	 
        {% if titre['wabopType']=='livre' %}
    	<div class="row abo-press-livres-line mb-0 mt-0">
        	<div class="col-sm-12 col-md-12 text-left mt-0">
                <div class="row abo-press-livres  mb-0 mt-0">
                            <div class="col-sm-12 col-md-1-5  label-description-container text-uppercase text-left mt-0 text-uppercase font-weight-bold">Titre livre</div>
                        	<div class="col-sm-12 col-md-5  label-description-container text-uppercase text-left mb-0 mt-0 mr-3"><input type="text" class="wabop_livre field-large" placeholder="" name="wabop_livre[]" value="{{ titre['wabopTitre'] }}" oninput="this.setCustomValidity('');$(this).closest(\'.abo-press-livres-line\').find(\'.add-panorama a\').tooltip(\'dispose\');" required></div>
                			<div class="col-sm-12 col-md-2-5  label-description-container text-uppercase text-left mt-0 text-uppercase font-weight-bold">NOMBRE D’ACHATS</div>
                			<div class="col-sm-12 col-md-1  label-description-container text-uppercase text-left mt-0"><input type="number" class="wabop_nombre" placeholder="" name="wabop_livre_nombre[]" value="{{ titre['wabopNombre'] }}" oninput="this.setCustomValidity('');$(this).parent().parent().find(\'.add-press a\').tooltip(\'dispose\');" required style="-moz-appearance: unset;" min="1" max="10000000000000"></div>
                			
                </div>    
                <div class="row mb-0 mt-0">
                    <div class="col-sm-12 col-md-6  label-description-container text-uppercase text-left mb-0 mt-0">
                        <div class="row blue mb-0 mt-0">
                        	<div class="col-sm-12 col-md-10  label-description-container text-uppercase text-left mt-0"><input type="text" class="wabop_auteur field-large" placeholder="AUTEUR(S) LIVRE" name="wabop_auteur[]" value="{{ titre['wabopAuteur'] }}" oninput="this.setCustomValidity('');$(this).closest(\'.abo-press-livres-line\').find(\'.add-panorama a\').tooltip(\'dispose\');" required></div>
                        	<div class="col-sm-12 col-md-2  label-description-container text-uppercase text-left mt-0"></div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6  label-description-container text-uppercase text-left mb-0 mt-0">
                    	<div class="row blue mb-0 mt-0">
                            	<div class="col-sm-12 col-md-10  label-description-container text-uppercase text-left mt-0"><input type="text" class="wabop_editeur field-large" placeholder="EDITEUR LIVRE" name="wabop_editeur[]" value="{{ titre['wabopEditeur'] }}" oninput="this.setCustomValidity('');$(this).closest(\'.abo-press-livres-line\').find(\'.add-panorama a\').tooltip(\'dispose\');" required></div>
                            	<div class="col-sm-12 col-md-2  label-description-container text-uppercase text-left mt-0">
                            	    <div class="col-compos-button nopadding add-panorama float-left"><a href="javascript:void(0);" onclick="add_titre_livre(this)" data-tooltip="Veuillez renseigner ou supprimer ce champ" title="Ajouter un titre livre">+</a></div>
                            		<div class="col-compos-button nopadding float-left"><a href="javascript:void(0);" onclick="delete_titre_livre(this)" title="Supprimer un titre livre">X</a></div>
                    			</div>
                    	</div>
                    </div>
                </div>
        	</div>
    	</div>
	    	{% endif %}
        {% endfor %}
	
	

	
    	</div>
    	<div class="row blue add-first-livre">
        	<div class="col-sm-12 col-md-12  label-description-container text-uppercase text-left mt-0">
    			<a href='javascript:add_first_livre();'>Ajouter un livre</a>
    		</div>
        </div>
    		<ul class="error" style="font-weight: bold; color: red" id="err-livre"></ul>
    </div>


  </div>




