<style>
.abo-press.label-description{
	margin-top: -15px !important;
	padding-bottom: 15px !important;
}
.page-logged .introduction-ouvert .row.label.abo-press::before {
	width: 175px !important;
}
.page-logged .introduction-ouvert .row.label.abo-press{
	margin-top: 20px;
}




</style>


{% if i.getTypeObjetConf().label_description is defined %}
<div class="row panorama-subtitle contained file-upload-notice"><span style="text-transform: none;">{{ i.getTypeObjetConf().label_description|raw}}</span></div>
{% endif %}
<div class="row   abo-press-blue contained">


    <div class="row label  abo-press">
       <span class="title text-uppercase font-weight-bold"><span style="color:red;padding:0 !important;margin:0 !important;background-color:unset !important;">Vous pouvez, soit charger votre fichier excel</span> contenant vos abonnements de presse</span>
    </div>

	<div class="row   abo-press">
    	<div class="col-sm-12 col-md-12 text-left file-upload-notice font-site-13 ">
        	(Vous pouvez également <a href="{{ path('declaration_media_download', {'id': 5})}}" target="_Blank" class="font-weight-bold">télécharger un modèle de fichier  excel</a> et le renvoyer complété) 
        </div>
    </div>
                
    <div class="row   abo-press">

            	<div class="col-sm-12 col-md-10  label-description-container text-uppercase text-left"><span class="form-col-label label-description font-weight-bold text-uppercase">Chargez votre fichier</span>

  
    		<label for="file-upload" class="custom-file-upload text-uppercase">Parcourir <i class="custom-file-upload-icon"></i></label>
            <input class="wabo_fichier" name="wabo_fichier" id="file-upload" type="file" placeholder=".xl, .xls" accept=".xlsx, .xls, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel, application/vnd.msexcel, text/csv" />
    		<label class="custom-file-upload-filename"><input class="custom-file-upload-filename-text" type="text" placeholder=".xl .xls" style="background-color: #f6f9fb !important;" disabled=disabled> <a class="delete_file" href="javascript:;" onclick="reset_file_upload(this)"></a></label>
    		
    		<input type="hidden" name="wabo_fichier_media_key" class="wabo_fichier_media_key" value="{{ db_data['abo_press_livres']['wabo_fichier_media_key'] }}">
    		<input type="hidden" name="wabo_fichier_name" class="wabo_fichier_name" value="{{ db_data['abo_press_livres']['wabo_fichier_name'] }}">
    		
    		</div>
    		            	<div class="col-sm-12 col-md-2  text-uppercase"></div>
    </div>	

    <div class="row label  abo-press">
       <span class="title text-uppercase font-weight-bold"><span style="color:red;padding:0 !important;margin:0 !important;background-color:unset !important;">ou Saisir </span> LA LISTE ET LE NOMBRE DE VOS ABONNEMENTS DE PRESSE</span>
    </div>
    <script>
    
    var abo_livre_titre_line='';
    abo_livre_titre_line +='<div class="abo-press-titre-line">';
    abo_livre_titre_line +='<div class="row ">';
    abo_livre_titre_line +='	<div class="col-sm-12 col-md-2-5  label-description-container text-uppercase text-left mt-0 font-weight-bold">Titre de presse</div>';
    abo_livre_titre_line +='	<div class="col-sm-12 col-md-8  description-container text-uppercase text-left mt-0"><input type="text" class="wabop_titre field-large" placeholder="TITRE DE PRESSE" name="wabop_titre[]" value="" oninput="this.setCustomValidity(\'\')" required></div>';
    abo_livre_titre_line +='	<div class="col-sm-12 col-md-1  button-container text-uppercase text-left mt-0">';
    abo_livre_titre_line +='		<div class="col-compos-button nopadding add-press float-left"><a href="javascript:void(0);" onclick="abo_press_add_titre_press(this)" title="Rajouter un  titre de presse">+</a></div>';
    abo_livre_titre_line +='		<div class="col-compos-button nopadding float-left"><a href="javascript:void(0);" onclick="abo_press_delete_titre_press(this)" title="Supprimer un titre de presse">X</a></div>';
    abo_livre_titre_line +='	</div>';
    abo_livre_titre_line +='</div>';

    abo_livre_titre_line +='<div class="row ">';
    abo_livre_titre_line +='<div class="col-sm-12 col-md-2  label-description-container text-uppercase text-left mt-0 font-weight-bold">&nbsp;</div>';
    abo_livre_titre_line +='<div class="col-sm-12 col-md-3  label-description-container text-uppercase text-left mt-0 font-weight-bold" >NOMBRE D’ABONNEMENTS</div>';
    abo_livre_titre_line +='<div class="col-sm-12 col-md-1  label-description-container text-uppercase text-left mt-0"><input type="number" class="wabop_nombre" placeholder="" name="wabop_titre_nombre[]" value="" oninput="this.setCustomValidity(\'\');$(this).parent().parent().find(\'.add-press a\').tooltip(\'dispose\');" required style="-moz-appearance: unset;" min="1" max="10000000000000"></div>';
    abo_livre_titre_line +='</div>';
    
    abo_livre_titre_line +='</div>';
    
    
    var abo_livre_site_line='';
    abo_livre_site_line +='<div class="abo-press-site-line">';
    abo_livre_site_line +='<div class="row ">';
    abo_livre_site_line +='		<div class="col-sm-12 col-md-2  label-description-container text-uppercase text-left mt-0 font-weight-bold">Site de presse</div>';
    abo_livre_site_line +='		<div class="col-sm-12 col-md-8-5  description-container text-uppercase text-left mt-0"><input type="text" class="wabop_site field-large" placeholder="SITE DE PRESSE" name="wabop_site[]" value="" oninput="this.setCustomValidity(\'\')" required></div>';
    abo_livre_site_line +='		<div class="col-sm-12 col-md-1  button-container text-uppercase text-left mt-0">';
    abo_livre_site_line +='				<div class="col-compos-button nopadding add-press float-left"><a href="javascript:void(0);" onclick="abo_press_add_site_press(this)" title="Rajouter un  site de presse">+</a></div>';
    abo_livre_site_line +='				<div class="col-compos-button nopadding float-left"><a href="javascript:void(0);" onclick="abo_press_delete_site_press(this)" title="Supprimer un site de presse">X</a></div>';
    abo_livre_site_line +='		</div>';
    abo_livre_site_line +='</div>';

    abo_livre_site_line +='<div class="row ">';
    abo_livre_site_line +='<div class="col-sm-12 col-md-2  label-description-container text-uppercase text-left mt-0 font-weight-bold">&nbsp;</div>';
    abo_livre_site_line +='<div class="col-sm-12 col-md-3  label-description-container text-uppercase text-left mt-0 font-weight-bold" >NOMBRE D’ABONNEMENTS</div>';
    abo_livre_site_line +='<div class="col-sm-12 col-md-1  label-description-container text-uppercase text-left mt-0"><input type="number" class="wabop_nombre" placeholder="" name="wabop_site_nombre[]" value="" oninput="this.setCustomValidity(\'\');$(this).parent().parent().find(\'.add-press a\').tooltip(\'dispose\');" required style="-moz-appearance: unset;" min="1" max="10000000000000"></div>';
    abo_livre_site_line +='</div>';
    
    
    abo_livre_site_line +='</div>';
    
    
    
    </script>

    <div class="row blue file-row abo-press " style="margin-bottom: 0px !important;">
        <div class="col-sm-12 col-md-12  abo-press-titre-container text-uppercase text-left">
            <div class="abo-press-titre-container-line">
                {% for titre in db_data['abo_press_livres']['wabo_publications'] %}
                {% if titre['wabopType']=='titre' %}
                <div class="abo-press-titre-line">
                    <div class="row ">
                    	<div class="col-sm-12 col-md-2  label-description-container text-uppercase text-left mt-0 font-weight-bold">Titre de presse</div>
                    	<div class="col-sm-12 col-md-8-5  description-container text-uppercase text-left mt-0"><input type="text" class="wabop_titre field-large" placeholder="TITRE DE PRESSE" name="wabop_titre[]" value="{{ titre['wabopTitre'] }}" oninput="this.setCustomValidity('')" required></div>
                    	<div class="col-sm-12 col-md-1  button-container text-uppercase text-left mt-0">
                    	    <div class="col-compos-button nopadding add-press float-left"><a href="javascript:void(0);" onclick="abo_press_add_titre_press(this)" title="Rajouter un  titre de presse">+</a></div>
                    		<div class="col-compos-button nopadding float-left"><a href="javascript:void(0);" onclick="abo_press_delete_titre_press(this)" title="Supprimer un titre de presse">X</a></div>
            			</div>
                    </div>
                   <div class="row ">
                		<div class="col-sm-12 col-md-2  label-description-container text-uppercase text-left mt-0 font-weight-bold">&nbsp;</div>
                		<div class="col-sm-12 col-md-3  label-description-container text-uppercase text-left mt-0 font-weight-bold" >NOMBRE D’ABONNEMENTS</div>
    			    	<div class="col-sm-12 col-md-1  label-description-container text-uppercase text-left mt-0"><input type="number" class="wabop_nombre" placeholder="" name="wabop_titre_nombre[]" value="{{ titre['wabopNombre'] }}" oninput="this.setCustomValidity('');$(this).parent().parent().find(\'.add-press a\').tooltip(\'dispose\');" required style="-moz-appearance: unset;" min="1" max="10000000000000"></div>
    			   </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
    
            <div class="row blue add-first-press">
            	<div class="col-sm-12 col-md-12  label-description-container text-uppercase text-left mt-0">
    				<a href='javascript:abo_press_add_first_press();'>Ajouter un titre de presse</a>
    			</div>
            </div>
    
        </div>
        <ul class="error" style="font-weight: bold; color: red" id="err-presse"></ul>
        
        <div class=" dotted-line  col-sm-12 col-md-12"></div>
        
        
        
        <div class="col-sm-12 col-md-12  abo-press-site-container text-uppercase text-left">
        <div class="abo-press-site-container-line">
            {% for titre in db_data['abo_press_livres']['wabo_publications'] %}
            {% if titre['wabopType']=='site' %}
        	<div class="abo-press-site-line">
        	 	<div class="row ">
        			<div class="col-sm-12 col-md-2  label-description-container text-uppercase text-left mt-0 font-weight-bold">Site de presse</div>
                	<div class="col-sm-12 col-md-8-5  description-container text-uppercase text-left mt-0"><input type="text" class="wabop_site field-large" placeholder="SITE DE PRESSE" name="wabop_site[]" value="{{ titre['wabopTitre'] }}" oninput="this.setCustomValidity('')" required></div>
                	<div class="col-sm-12 col-md-1  button-container text-uppercase text-left mt-0">
                		<div class="col-compos-button nopadding add-press float-left"><a href="javascript:void(0);" onclick="abo_press_add_site_press(this)" title="Rajouter un  site de presse">+</a></div>
        			    <div class="col-compos-button nopadding float-left"><a href="javascript:void(0);" onclick="abo_press_delete_site_press(this)" title="Supprimer un site de presse">X</a></div>
        			</div>
        		</div>
        		 <div class="row ">
                		<div class="col-sm-12 col-md-2  label-description-container text-uppercase text-left mt-0 font-weight-bold">&nbsp;</div>
                		<div class="col-sm-12 col-md-3  label-description-container text-uppercase text-left mt-0 font-weight-bold" >NOMBRE D’ABONNEMENTS</div>
    			    	<div class="col-sm-12 col-md-1  label-description-container text-uppercase text-left mt-0"><input type="number" class="wabop_nombre" placeholder="" name="wabop_site_nombre[]" value="{{ titre['wabopNombre'] }}" oninput="this.setCustomValidity('');$(this).parent().parent().find(\'.add-press a\').tooltip(\'dispose\');" required style="-moz-appearance: unset;" min="1" max="10000000000000"></div>
    			 </div>
        		
        	</div>
        	{% endif %}
            {% endfor %}
        </div>
        
        	
        	<div class="row blue add-first-site">
            	<div class="col-sm-12 col-md-12  label-description-container text-uppercase text-left mt-0">
    				<a href='javascript:abo_press_add_first_site();'>Ajouter un site de presse</a>
    			</div>
            </div>
        </div>
        <ul class="error" style="font-weight: bold; color: red" id="err-presse-site"></ul>
    </div>

</div>
<div class="row red contained"><div class="form-col-label col-sm-12 col-md-12 line_separator"></div></div>