 <style>

.wppl_siret:required , .wppl_service_code:required, .wppl_order_number:required {
  /*border: 1px solid red !important;*/

}

.chorus-pro-multi{
	background-color: #E1EBF0;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
}


.chorus-pro-multi >div{
	margin-top: 20px !important;
	
}
.wppl_is_chorus_pro, .wppl_has_order{
    width: 13px;
    margin-right: 7px;
    vertical-align: middle;

}
.wppl_is_chorus_pro_container{
	padding-left: 10px;
}
.wppl_siret, .wppl_service_code, .wppl_order_number{
	background-color: #FFF !important;
}
.wppl_service_code.es-input{
	background: #FFF !important;
		max-width: 350px !important;
}
.wppl_siret{
	max-width: 100% !important;

}


 </style>

    <div  class="chorus-pro-multi"  data-chorus-pro-siret-selected=""  data-selected-service="{{ chorus_pro_multi_data['wppl_service_code']}}"><div class="contained">
    
        <div class="row contained blue">
        	<div class="col-sm-12 col-md-7-5 nopadding  text-uppercase " style="">
        		<span class="form-col-label  label-description" style="">Souhaitez-vous recevoir votre facture via <strong>chorus pro</strong> ?</span>
        	</div>
        	<div class="col-sm-12 col-md-3-5 nopadding align-top">
        		<div class="text-uppercase float-left form-col-label wppl_is_chorus_pro_container">
        			<input type="radio" class="wppl_is_chorus_pro_oui wppl_is_chorus_pro" name="wppl_is_chorus_pro_{{ chorus_pro_multi_index }}" id="wppl_is_chorus_pro_oui_{{ chorus_pro_multi_index }}" {% if chorus_pro_multi_data['wppl_is_chorus_pro'] =="1" %}checked="checked"{% endif %} value="1" required="required"><label for="wppl_is_chorus_pro_oui_{{ chorus_pro_multi_index }}">oui</label>
        		</div>
        		<div class="text-uppercase float-left form-col-label wppl_is_chorus_pro_container">
        			<input type="radio" class="wppl_is_chorus_pro_non wppl_is_chorus_pro" name="wppl_is_chorus_pro_{{ chorus_pro_multi_index }}" id="wppl_is_chorus_pro_non_{{ chorus_pro_multi_index }}" {% if chorus_pro_multi_data['wppl_is_chorus_pro'] =="0" %}checked="checked"{% endif %} value="0" required="required"><label for="wppl_is_chorus_pro_non_{{ chorus_pro_multi_index }}">non</label>
        		</div>
        	</div>
        	<ul style="font-weight: bold; color: red" id="err-wppl_is_chorus_pro"></ul>
        </div>
        <div class="is_chorus_pro_bloc">	
           {% if chorus_siret_message is defined and chorus_siret_message|raw|length %}			
    		<div class="row contained blue ">
            	<div class="col-sm-12 col-md-12 nopadding chorus-message" style="">{{ chorus_siret_message|raw  }}</div>
            </div>
           {% endif %}
            <div class="row contained blue ">
            	<div class="col-sm-12 col-md-3 nopadding  text-uppercase" style=""><span class="label-description">N° de siret/ridet</span></div>
            	<div class="form-col-fields col-sm-12 col-md-9 nopadding">   
            	<input type="text" name="wppl_siret" pattern="^[0-9]{9}$|^[0-9]{14}$"  class="wppl_siret" maxlength="14" value="{{ chorus_pro_multi_data['wppl_siret'] }}" data-init-value="{{ chorus_pro_multi_data['wppl_siret'] }}" oninvalid="this.setCustomValidity('Merci de saisir votre numéro de SIRET ou de RIDET')"  oninput="this.setCustomValidity('')">     
                    
                 </div>
            </div>
        	<div class="row contained blue ">
            	<div class="form-col-label  col-sm-12 col-md-3 nopadding  text-uppercase" style=""><span class="label-description">Code service</span></div>
            	<div class="form-col-fields col-sm-12 col-md-5 nopadding">
                    <select name="wppl_service_code" class="wppl_service_code" 
                    oninvalid="this.setCustomValidity('Merci de renseigner le code service.')"  
                    oninput="this.setCustomValidity('')" 
                    {% if chorus_pro_multi_data['wppl_service_list']|length and chorus_pro_multi_data['wppl_service_list'][0].gestion_service==true %}
                    	required="required"
                    	data-gestion-service="true"
                    {% endif %}
                    >
                   	<option  value=""></option>
                   {% for chorus_pro_item in chorus_pro_multi_data['wppl_service_list'] %}
                   		<option  value="{{ chorus_pro_item.service_code }}"
                   		{% if   chorus_pro_item.service_code == chorus_pro_multi_data['wppl_service_code'] %}
                   		    {% set  chorus_pro_item_service_code=true %}
                   		    selected="selected"
                   		{% endif %}
                   		data-service="{{ chorus_pro_item.service_code }}"
                   		data-service-gestion-egmt="{{ chorus_pro_item.service_gestion_Egmt }}"
                   		data-gestion-engagement="{{ chorus_pro_item.gestion_engagement }}"
                   		data-gestion-service="{{ chorus_pro_item.gestion_service }}"
                   		data-gestion-service-engagement="{{ chorus_pro_item.gestion_service_engagement }}" >{{ chorus_pro_item.service_code }} ({{ chorus_pro_item.service_nom }})</option>
                   {% endfor %}
                   {#
                        {% if chorus_pro_item_service_code is not defined  %}
                        
                   			<option  value="{{ chorus_pro_multi_data['wppl_service_code'] }}" selected="selected">{{ chorus_pro_multi_data['wppl_service_code']}}</option>
                   		{% endif %}
                   #}		
                    </select>
                 </div>
                 
        	</div>
        	<div class="row contained blue "><div class="form-col-label  col-sm-12 col-md-3 nopadding  text-uppercase" style="">&nbsp;</div></div>
        </div>
        

        <div class="row contained blue">
        	<div class="col-sm-12 col-md-9 nopadding  text-uppercase" style="">
        		<span class="form-col-label  label-description" style="">Un <strong>bon de commande / engagement</strong> doit-il figurer sur la facture ?</span>
        	</div>
        	<div class="col-sm-12 col-md-3 nopadding">
        		<div class="text-uppercase float-left form-col-label wppl_is_chorus_pro_container">
        			<input type="radio" class="wppl_has_order wppl_has_order_oui" name="wppl_has_order_{{ chorus_pro_multi_index }}" id="wppl_has_order_oui_{{ chorus_pro_multi_index }}" {% if chorus_pro_multi_data['wppl_has_order'] =="1" %}checked="checked"{% endif %} value="1" required="required"><label for="wppl_has_order_oui_{{ chorus_pro_multi_index }}">oui</label>
        		</div>
        		<div class="text-uppercase float-left form-col-label wppl_is_chorus_pro_container">
        			<input type="radio"  class="wppl_has_order wppl_has_order_non" name="wppl_has_order_{{ chorus_pro_multi_index }}" id="wppl_has_order_non_{{ chorus_pro_multi_index }}" {% if chorus_pro_multi_data['wppl_has_order'] =="0" %}checked="checked"{% endif %} value="0" required="required"><label for="wppl_has_order_non_{{ chorus_pro_multi_index }}">non</label>
        		</div>
        	</div>
        	<!--  <ul  style="font-weight: bold; color: red" class="err-wppl_has_order"></ul>-->
        </div>	
        <div class="has_bdc_bloc">
       
        {% if chorus_bdc_message is defined and chorus_bdc_message|raw|length %}	
            <div class="row contained blue">
            	<div class="col-sm-12 col-md-12 nopadding chorus-message"> {{ chorus_bdc_message|raw  }}</div>
            </div>
           {% endif %}
    	<div class="row contained blue">
        	<div class="col-sm-12 col-md-5 nopadding  text-uppercase" style=""><span class="label-description">N° de bon de commande / engagement</span></div>
        	<div class="form-col-fields col-sm-12 col-md-7 nopadding"><input type="text" name="wppl_order_number" data-chorus-pro-bdc-not-mandatory="{{ chorus_pro_bdc_not_mandatory }}" class="wppl_order_number" maxlength="50" value="{{ chorus_pro_multi_data['wppl_order_number'] }}" oninvalid="this.setCustomValidity('Merci de saisir votre numéro de bon de commande / engagement')"  oninput="this.setCustomValidity('')"></div>
        </div>
         </div>
    </div></div>	
	
