

<style>
.page-logged .introduction-ouvert .row .col-compos-button.ico-collapse a::before{
	transform: rotate(0deg) !important;
}

.page-logged .introduction-ouvert .row .col-compos-button.ico-expend a::before{
	transform: rotate(90deg) !important;
}


/*.tooltip-inner{ 
    color:#721c24; 
    font-weight:400;  
    background-color:#f8d7da;
}
.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before, .tooltip.bs-tooltip-right .arrow::before { 
	border-right-color: #721c24;
}*/
</style>

<script>


jQuery(document).ready(function() {

    $( "#form_submit" ).click(function() {
    	
    	if($('input:invalid, select:invalid').length)
    	{
    		if($('input:invalid, select:invalid').eq(0).closest('.copie_externe').find('.copie_externe_content').is(":hidden")){
    			
    			$('input:invalid, select:invalid').eq(0).closest('.copie_externe').find('.ico-expend-collapse a')[0].scrollIntoView(); 
    			$('input:invalid, select:invalid').eq(0).closest('.copie_externe').find('.ico-expend-collapse a').trigger('click');
    			$('input:invalid, select:invalid').eq(0).focus();
   			 	setTimeout(function(){ $( "#form_submit" ).trigger('click'); }, 800);
    			
    		}
    
    	}
    });
});

</script>

{% if i.getLabelVisible() %}
<div class="row label panorama-title contained {{ class }}" style="padding-left: 0px;" ><span class="title text-uppercase">{{ i.label()|raw}}</span></div>
{% endif %}


<div id="container_copie_ext_cible" class="">

    {% for copie_ext in db_data['wcpextc'] %}
    {% set copie_ext_index = loop.index - 1 %}
    <div class="copie_externe_cible multi-index" data-index="{{ copie_ext_index }}">
        <div class="row blue contained">
        	<div class="col-sm-12 col-md-10 nopadding "><input type="text" name="publication" class="copie_externe_publication field-large" placeholder="TITRE DE LA PUBLICATION DONT EST ISSU L'ARTICLE"  value="{{ copie_ext['wcpextPublication'] }}" oninput="this.setCustomValidity('')" maxlength="255" ></div>
        	<div class="col-sm-12 col-md-2 nopadding ">
        		<div class="col-compos-button nopadding ico-expend-collapse ico-collapse ico-expend float-left"><a href="javascript:void(0);" onclick="toggle_copie_externe_cible(this)">X</a></div>
        		  <div class="col-compos-button nopadding add-panorama float-left"><a href="javascript:void(0);" onclick="add_copie_externe_cible(this)" title="Rajouter une publication web">+</a></div>
        		  <div class="col-compos-button nopadding float-left"><a href="javascript:void(0);" onclick="delete_copie_externe_cible(this)" title="Supprimer une publication web">X</a></div>
        		  
        	</div>
        </div>
		<div class="copie_externe_content">
		<div  class="contained">
            <div class="row blue ">
            	<div class="col-sm-12 col-md-10 nopadding "><input type="text" name="titre" class="copie_externe_titre field-large" placeholder="TITRE DE L'ARTICLE"  value="{{ copie_ext['wcpextTitre'] }}" oninput="this.setCustomValidity('')" maxlength="255" ></div>
            </div>		
            <div class="row blue ">
            	<div class="col-sm-12 col-md-3 nopadding  text-uppercase"><span class="form-col-label " style="">AUTEUR(S) DE L'ARTICLE</span></div>
            	<div class="col-sm-12 col-md-7 nopadding  text-uppercase"><input type="text" class="wppl_total field-large copie_externe_auteur"  name="" value="{{ copie_ext['wcpextAuteur'] }}" style="width: 100%" oninput="this.setCustomValidity('')"  placeholder="" maxlength="255" ></div>
            </div>		

            <div class="row blue ">
            	<div class="col-sm-12 col-md-4 nopadding  text-uppercase"><span class="form-col-label " style="">DATE DE PARUTION DE L'ARTICLE</span></div>
            	<div class="col-sm-12 col-md-2 nopadding  text-uppercase"><input type="text" class="wppl_total field-large dob copie_externe_parution"  name="" value="{{ copie_ext['wcpextParution'] }}" style="width: 100%" oninput="this.setCustomValidity('')"  placeholder="JJ/MM/ANNEE" pattern="\d{1,2}/\d{1,2}/\d{4}"  maxlength="10"  ></div>
            </div>	
            <div class="row blue ">
            	<div class="col-sm-12 col-md-5-5 nopadding  text-uppercase"><span class="form-col-label " style="">NOMBRE DE DESTINATAIRE DE VEILLE MEDIA</span></div>
            	<div class="col-sm-12 col-md-2 nopadding  text-uppercase"><input type="number" class="wppl_total field-large copie_externe_destinataires"  name="" value="{{ copie_ext['wcpextDestinataires'] }}" style="width: 100%" oninput="this.setCustomValidity('')"  placeholder="" maxlength="255" ></div>
            </div>	
            
            <ul class="error" style="font-weight: bold; color: red"></ul>	
		</div >


	 		<div class="col-sm-12 col-md-3"></div>
			
		
		</div>
		
		<div class="dotted-line contained"  style="clear: both;"></div>
    </div>      
    
           
        
    {% endfor %}
</div>

<div class="row blue contained" id="default_copie_externe_cible_button" style="">
		<div class="col-sm-12 col-md-12   text-uppercase text-right buttons-panoramas">
		<a class="button_add_delete" href="javascript:void(0);" onclick="add_default_copie_externe_cible()" style="margin-top: -15px;" >Ajouter une copie externe</a>
		</div>
</div>
