<style>
.page-logged .introduction-ouvert .row .col-compos-button.ico-collapse a::before{
	transform: rotate(0deg) !important;
}

.page-logged .introduction-ouvert .row .col-compos-button.ico-expend a::before{
	transform: rotate(90deg) !important;
}

.page-logged .introduction-ouvert .row.label.abo-press-item::before {
	width: 175px !important;
}
.page-logged .introduction-ouvert .row.label.abo-press-item{
	margin-top: 20px;
}

</style>

<script>
var pano_pub_line='';
pano_pub_line+='<div class="row blue panorama_press_papier_publications_line">';
pano_pub_line+='	<div class="col-sm-12 col-md-6 "><input type="text" placeholder="SAISIR UNE PUBLICATION" class="wpplp_label" name="" value="" oninvalid="this.setCustomValidity(\'Merci de renseigner la publication.\')"  oninput="this.setCustomValidity(\'\')" required></div>';
pano_pub_line+='	<div class="col-sm-12 col-md-3 padding-right-15  padding-left-15"><input class="wpplp_total"  placeholder="NOMBRE DE PAGES COPIÉS" type="number" name="" min="1" max="999999" value="" style="" onkeyup="panorama_press_papier_calculate(this)" required></div>';
pano_pub_line+='	<div class="col-sm-12 col-md-1  nopadding text-uppercase ">';
pano_pub_line+='		<div class="col-compos-button nopadding float-left" style="margin-left: 0px !important;"><a href="javascript:void(0);" onclick="remove_panorama_press_papier_pub(this)">X</a></div>';
pano_pub_line+='		<div class="float-left nopadding col-compos-button-separator" style="">&nbsp;</div>';
pano_pub_line+='		<div class="col-compos-button nopadding add-compos float-left" style="margin-left: 0px !important;"><a href="javascript:void(0);" onclick="add_panorama_press_papier_pub(this)" style="font-size:18">+</a></div>';
pano_pub_line+='	</div>';
pano_pub_line+='</div>';

jQuery(document).ready(function() {

    $( "#form_submit" ).click(function() {
    	
    	if($('input:invalid, select:invalid').length)
    	{
    		if($('input:invalid, select:invalid').eq(0).closest('.panorama_press_papier').find('.panorama_content').is(":hidden")){
    			
    			$('input:invalid, select:invalid').eq(0).closest('.panorama_press_papier').find('.ico-expend-collapse a')[0].scrollIntoView(); 
    			$('input:invalid, select:invalid').eq(0).closest('.panorama_press_papier').find('.ico-expend-collapse a').trigger('click');
    			$('input:invalid, select:invalid').eq(0).focus();
   			 	setTimeout(function(){ $( "#form_submit" ).trigger('click'); }, 800);
    			
    		}
    
    	}
    });
});

</script>

<div class="row label panorama-title contained {{ class }}" ><span class="title text-uppercase">{{ i.label()|raw}}</span></div>
<div class="row label-desc panorama-subtitle contained"><span style="text-transform: none;">Vous pouvez, <b>soit saisir</b> la liste de vo(s)tre panorama(s) de presse, <b>soit charger un fichier Excel</b> contenant ces informations</span></div>
<div id="container_panorama_press_papier" class="">
    {% for panorama in db_data['panorama_press']['wpanoramapress_liste'] %}
    {% set panorama_index = loop.index - 1 %}
    <div class="panorama_press_papier multi-index" data-index="{{ panorama_index }}">
        <div class="row blue contained">
        	<div class="col-sm-12 col-md-3 nopadding  text-uppercase"><span class="form-col-label label-description label-panorama-press font-weight-bold" style="">Panorama de presse {{ panorama_index +1 }}</span></div>
        	<div class="col-sm-12 col-md-8 nopadding "><input type="text" class="wppl_label field-large" placeholder="NOM DU PANORAMA" name="" value="{{ panorama['wppl_label'] }}" oninput="this.setCustomValidity('')"></div>
        	<div class="col-sm-12 col-md-1 nopadding ">
        		<div class="col-compos-button nopadding ico-expend-collapse ico-collapse float-left ico-expend"><a href="javascript:void(0);" onclick="toggle_panorama_press_papier(this)">X</a></div>
        		<!--  
        		<div class="col-compos-button nopadding float-left"><a href="javascript:void(0);" onclick="delete_panorama_press_papier(this)">X</a></div>
        		<div class="col-compos-button nopadding add-panorama float-left"><a href="javascript:void(0);" onclick="add_panorama_press_papier()">+</a></div>
        		-->
        	</div>
        </div>
		<div class="panorama_content">
		<div  class="contained">
    		
            <div class="row blue ">
            	<div class="col-sm-12 col-md-7 nopadding  text-uppercase"><span class="form-col-label label-description" style="">Periodicité*</span></div>
            	<div class="col-sm-12 col-md-5 nopadding  text-uppercase">
            	<select class="wppl_periode" name="" style="width: unset" oninput="this.setCustomValidity('')"  required>
            		<option value="" {% if panorama['wppl_periode']==''%}selected="selected"{% endif %} ></option>
                	<option value="Annuel" {% if panorama['wppl_periode']=='Annuel'%}selected="selected"{% endif %} >Annuel</option>
                	<option value="Bihebdomadaire" {% if panorama['wppl_periode']=='Bihebdomadaire'%}selected="selected"{% endif %} >Bihebdomadaire</option>
                	<option value="Bimensuel" {% if panorama['wppl_periode']=='Bimensuel'%}selected="selected"{% endif %} >Bimensuel</option>
                	<option value="Bimestriel" {% if panorama['wppl_periode']=='Bimestriel'%}selected="selected"{% endif %} >Bimestriel</option>
                	<option value="Biquotidien" {% if panorama['wppl_periode']=='Biquotidien'%}selected="selected"{% endif %} >Biquotidien</option>
                	<option value="Hebdomadaire" {% if panorama['wppl_periode']=='Hebdomadaire'%}selected="selected"{% endif %} >Hebdomadaire</option>
                	<option value="Mensuel" {% if panorama['wppl_periode']=='Mensuel'%}selected="selected"{% endif %} >Mensuel</option>
                	<option value="Quotidien" {% if panorama['wppl_periode']=='Quotidien'%}selected="selected"{% endif %} >Quotidien</option>
                	<option value="Semestriel" {% if panorama['wppl_periode']=='Semestriel'%}selected="selected"{% endif %} >Semestriel</option>
                	<option value="Trimestriel" {% if panorama['wppl_periode']=='Trimestriel'%}selected="selected"{% endif %} >Trimestriel</option>
            	</select>
            	</div>
            </div>		
    		
		
		
            <div class="row blue ">
            	<div class="col-sm-12 col-md-7 nopadding  text-uppercase"><span class="form-col-label label-description" style="">Nombre de numéros du panorama sur la période*</span></div>
            	<div class="col-sm-12 col-md-5 nopadding  text-uppercase"><input type="number" class="wppl_periode_nombre"  name="" value="{{ panorama['wppl_periode_nombre'] }}" style="width: unset" oninput="this.setCustomValidity('')" onkeyup="panorama_press_papier_calculate(this)" required></div>
            </div>	
            
            <div class="row blue ">
            	<div class="col-sm-12 col-md-7 nopadding  text-uppercase"><span class="form-col-label label-description" style="">Nombre moyen de pages de reproductions par numéro*</span></div>
            	<div class="col-sm-12 col-md-5 nopadding  text-uppercase"><input type="number" class="wppl_moyenne_repro"  name="" value="{{ panorama['wppl_moyenne_repro'] }}" style="width: unset" oninput="this.setCustomValidity('')" onkeyup="panorama_press_papier_calculate(this)" required></div>
            </div>	
		
            <div class="row blue ">
            	<div class="col-sm-12 col-md-7 nopadding  text-uppercase"><span class="form-col-label label-description" style="">Nombre moyen d'exemplaires par numéro*</span></div>
            	<div class="col-sm-12 col-md-5 nopadding  text-uppercase"><input type="number" class="wppl_moyenne_exemplaire"  name="" value="{{ panorama['wppl_moyenne_exemplaire'] }}" style="width: unset" oninput="this.setCustomValidity('')" onkeyup="panorama_press_papier_calculate(this)" required></div>
            </div>	
           <div class="row blue ">
            	<div class="col-sm-12 col-md-7 nopadding  text-uppercase"><span class="form-col-label label-description" style="">Nombre total de pages sur la période</span></div>
            	<div class="col-sm-12 col-md-5 nopadding  text-uppercase nb-total-pages custom-file-upload-filename" style="max-width: 160px;"></div>
            </div>	
            
            </div>
            <div class="col-sm-12 col-md-2  text-uppercase">&nbsp;</div>
            <div class="row abo-press-blue contained">
            
            
                <div class="row label abo-press-item" style="margin-top: 30px !important;">
                   <span class="title text-uppercase font-weight-bold"><span style="color:red;padding:0 !important;margin:0 !important;background-color:unset !important;">Charger votre fichier excel</span> CONTENANT LA LISTE DES PUBLICATIONS UTILISÉES DANS CE PANORAMA</span>
                </div>
            
            	<div class="row  abo-press-item" >
                	<div class="col-sm-12 col-md-12 text-left file-upload-notice font-site-13 ">
                    	(Vous pouvez également <a href="{{ path('declaration_media_download', {'id': 2})}}" target="_Blank" class="font-weight-bold">télécharger un modèle de fichier  excel</a> et le renvoyer complété) 
                    </div>
                </div>
                
                <div class="row abo-press-item">
                	<div class="col-sm-12 col-md-12  label-description-container text-uppercase text-left"><span class="form-col-label label-description font-weight-bold text-uppercase">Chargez votre fichier</span>
            		<label for="file-upload-{{ panorama_index }}" class="custom-file-upload text-uppercase">Parcourir <i class="custom-file-upload-icon"></i></label>
                    <input class="wppl_fichier" name="wppl_fichier" id="file-upload-{{ panorama_index }}" type="file" placeholder=".xl, .xls" accept=".xlsx, .xls, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel, application/vnd.msexcel, text/csv" />
            		<label class="custom-file-upload-filename"><input class="custom-file-upload-filename-text" type="text" placeholder=".xl .xls" style="background-color: #f6f9fb !important;" disabled=disabled> <a class="delete_file" href="javascript:;" onclick="reset_file_upload_panorama_press(this)"></a></label>
        		
             		<input type="hidden" name="wppl_fichier_media_key" class="wppl_fichier_media_key" value="{{ panorama['wppl_fichier_media_key'] }}">
            		<input type="hidden" name="wppl_fichier_name" class="wppl_fichier_name" value="{{ panorama['wppl_fichier_name'] }}">            		
        		</div>
                <div class="col-sm-12 col-md-2  text-uppercase"></div>
                </div>	
            
                <div class="row label abo-press-item">
                   <span class="title text-uppercase font-weight-bold"><span style="color:red;padding:0 !important;margin:0 !important;background-color:unset !important;">ou Saisir</span> LA LISTE DES PUBLICATIONS UTILISÉES ET LE NOMBRE DE PAGES COPIÉES</span>
                </div>            
            

    
                <div class="panorama_press_papier_publications">
                {% for publications in panorama['wpanoramapress_liste_publication'] %}
                {% set publication_index = loop.index - 1 %}
                    <div class="row blue panorama_press_papier_publications_line">
                    	<div class="col-sm-12 col-md-6 "><input type="text" placeholder="SAISIR UNE PUBLICATION" class="wpplp_label" name="" value="{{ publications['wpplp_label'] }}" oninvalid="this.setCustomValidity('Merci de renseigner la publication.')"  oninput="this.setCustomValidity('')" required></div>
                    	<div class="col-sm-12 col-md-3 padding-right-15  padding-left-15"><input class="wpplp_total"  placeholder="NOMBRE DE PAGES COPIÉS" type="number" name="" min="1" max="999999" value="{{ publications['wpplp_total'] }}" style="" onkeyup="panorama_press_papier_calculate(this)" required></div>
                    	<div class="col-sm-12 col-md-1  nopadding text-uppercase ">
                    		<div class="col-compos-button nopadding float-left" style="margin-left: 0px !important;"><a href="javascript:void(0);" onclick="remove_panorama_press_papier_pub(this)">X</a></div>
                    		<div class="float-left nopadding col-compos-button-separator" style="">&nbsp;</div>
                    		<div class="col-compos-button nopadding add-compos float-left" style="margin-left: 0px !important;"><a href="javascript:void(0);" onclick="add_panorama_press_papier_pub(this)" style="font-size:18">+</a></div>
                    	</div>
                	</div>
                {% endfor %}
                </div>		


	        <div class="row row-add-first-publication-press" style="display: none; width: 100%">
            	<div class="col-sm-12 col-md-3"></div>
            	<div class="col-sm-12 col-md-12  text-uppercase text-center">
            	<a class="add_first_publication_press" href="javascript:void(0);" onclick="add_first_panorama_press_papier_pub(this)">Ajouter une publication</a>
            	</div>
        	</div>	
			<ul class="error" style="font-weight: bold; color: red"></ul>
			
	
		

		
       <!--  <div class="row blue ">
        		<div class="col-sm-12 col-md-12   text-uppercase text-right buttons-panoramas">
        			<a class="add_panorama_press float-right" href="javascript:void(0);" onclick="add_panorama_press_papier()">Ajouter un panorama de presse</a>&nbsp;&nbsp
        		</div>
        </div>
         --> 
        </div>
		
		
		

    {% set chorus_pro_multi_data=panorama %}
    {% set chorus_pro_multi_index=panorama_index %}
    {% if i.typeObjetConf['chorus_bdc_not_mandatory'] is defined  %}
        {% set chorus_pro_bdc_not_mandatory=i.typeObjetConf['chorus_bdc_not_mandatory'] %}
    {% else %}
        {% set chorus_pro_bdc_not_mandatory=false %}
    {% endif %}
    {% include 'interface/declaration/partial/fields_chorus_pro_multi.html.twig'%}
		
		
		<div class="col-sm-12 col-md-3"></div>
        <div class="col-sm-12 col-md-12  text-uppercase text-center contained">
       	 		<a class="button_add_delete" href="javascript:void(0);" onclick="delete_panorama_press_papier(this)">Supprimer le panorama de presse</a>
            	<!--  <a class="button_add_delete" href="javascript:void(0);" onclick="add_panorama_press_papier()">Ajouter un panorama de presse</a>-->
            	
        </div>
        
	</div>		
		
		
		<div class="dotted-line contained"  style="clear: both;"></div>
		
	
    </div>      
    
           
        
    {% endfor %}
</div>

<div class="row blue contained" id="default_panorama_press_button" style="">
		<div class="col-sm-12 col-md-12   text-uppercase text-right buttons-panoramas">
			<a class="button_add_delete" href="javascript:void(0);" onclick="add_panorama_press_papier()" style="margin-top: -15px;">Ajouter un panorama de presse</a>
		</div>
</div>
