<style>
.page-logged .introduction-ouvert .row .col-compos-button.ico-collapse a::before{
	transform: rotate(0deg) !important;
}

.page-logged .introduction-ouvert .row .col-compos-button.ico-expend a::before{
	transform: rotate(90deg) !important;
}


/*.tooltip-inner{ 
    color:#721c24; 
    font-weight:400;  
    background-color:#f8d7da;
}
.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before, .tooltip.bs-tooltip-right .arrow::before { 
	border-right-color: #721c24;
}*/
</style>

<script>

var relation_publique_line='';
relation_publique_line+='<div class="relation_publique">';
relation_publique_line+='<div class="row blue">';
relation_publique_line+=' 	<div class="col-sm-12 col-md-1-5 nopadding  text-uppercase"><span class="form-col-label label-description label-panorama-press font-weight-bold" style="">CLIENT</span></div>';
relation_publique_line+=' 	<div class="col-sm-12 col-md-9 nopadding "><input type="text" class="wrp_label field-large" placeholder="NOM DE L\'ENTREPRISE" name="wrp_label[]" value="" oninput="this.setCustomValidity(\'\')" required></div>';
relation_publique_line+=' 	<div class="col-sm-12 col-md-1-5 nopadding ">';
relation_publique_line+=' 		<div class="col-compos-button nopadding ico-expend-collapse ico-collapse ico-expend float-left"><a href="javascript:void(0);" onclick="toggle_relation_publique(this)">X</a></div>';
relation_publique_line+=' 		<div class="col-compos-button nopadding add-panorama float-left"><a href="javascript:void(0);" onclick="add_relation_publique(this)" title="Rajouter un client">+</a></div>';
relation_publique_line+=' 		<div class="col-compos-button nopadding float-left"><a href="javascript:void(0);" onclick="delete_relation_publique(this)" title="Supprimer un client">X</a></div>';
relation_publique_line+=' 	</div>';
relation_publique_line+=' </div>';
relation_publique_line+=' <div class="relation_publique_content">';
relation_publique_line+='		 <div class="row">';
relation_publique_line+='		 	<div class="col-sm-12 col-md-2 nopadding text-uppercase"><span class="form-col-label">Adresse</span></div>';
relation_publique_line+=' 		<div class="col-sm-12 col-md-10 nopadding"><input type="text" class="wrp_adresse field-large"name="wrp_adresse[]" value="" oninput="this.setCustomValidity(\'\')"></div>';
relation_publique_line+='		 </div>';
relation_publique_line+='		 <div class="row">';
relation_publique_line+='		 	<div class="col-sm-12 col-md-2 nopadding text-uppercase"><span class="form-col-label">Code postal</span></div>';
relation_publique_line+=' 		<div class="col-sm-12 col-md-3-5 nopadding"><input type="number" class="wrp_cp field-large"name="wrp_cp[]" value="" maxlength="5"  min="" max="99999" oninput="this.setCustomValidity(\'\')"></div>';
relation_publique_line+='		 	<div class="col-sm-12 col-md-1 nopadding text-uppercase text-center"><span class="form-col-label" style="">Ville</span></div>';
relation_publique_line+=' 		<div class="col-sm-12 col-md-5-5 nopadding"><input type="text" class="wrp_ville field-large"name="wrp_ville[]" value="" oninput="this.setCustomValidity(\'\')"></div>';
relation_publique_line+='		 </div>';
relation_publique_line+='		  <div class="row">';
relation_publique_line+='		 	<div class="col-sm-12 col-md-3-5 nopadding text-uppercase"><span class="form-col-label font-weight-bold">Volume d\'articles fourni*</span></div>';
relation_publique_line+=' 		<div class="col-sm-12 col-md-2 nopadding"><input type="number" class="wrp_volume field-large" maxlength="5" name="wrp_volume[]" value="" oninput="this.setCustomValidity(\'\')" required></div>';
relation_publique_line+='		 </div>';
relation_publique_line+='	</div>';
relation_publique_line+='	<div class="dotted-line contained"></div>';
relation_publique_line+='</div>';


jQuery(document).ready(function() {

    $( "#form_submit" ).click(function() {
    	$('.error').html("");
    	if($('input:invalid, select:invalid').length)
    	{
    		if($('input:invalid, select:invalid').eq(0).closest('.relation_publique').find('.relation_publique_content').is(":hidden")){
    			
    			$('input:invalid, select:invalid').eq(0).closest('.relation_publique').find('.ico-expend-collapse a')[0].scrollIntoView(); 
    			$('input:invalid, select:invalid').eq(0).closest('.relation_publique').find('.ico-expend-collapse a').trigger('click');
    			$('input:invalid, select:invalid').eq(0).focus();
   			 	setTimeout(function(){ $( "#form_submit" ).trigger('click'); }, 800);
    			
    		}
    
    	}
    });
});

</script>
<div id="container_relation_publique" class="contained">
    {% for rp in db_data['relation_publique'] %}
    {% set rp_index = loop.index - 1 %}
    <div class="relation_publique">
       <div class="row blue">
        	<div class="col-sm-12 col-md-1-5 nopadding  text-uppercase"><span class="form-col-label label-description label-panorama-press font-weight-bold" style="">CLIENT {{ rp_index +1 }}</span></div>
        	<div class="col-sm-12 col-md-9 nopadding "><input type="text" class="wrp_label field-large" placeholder="NOM DE L'ENTREPRISE" name="wrp_label[]" value="{{ rp['wrp_label'] }}" oninput="this.setCustomValidity('')" required></div>
        	<div class="col-sm-12 col-md-1-5 nopadding ">
        		<div class="col-compos-button nopadding ico-expend-collapse ico-collapse ico-expend float-left"><a href="javascript:void(0);" onclick="toggle_relation_publique(this)">X</a></div>
        		<div class="col-compos-button nopadding add-panorama float-left"><a href="javascript:void(0);" onclick="add_relation_publique(this)" title="Rajouter un  client">+</a></div>
        		<div class="col-compos-button nopadding float-left"><a href="javascript:void(0);" onclick="delete_relation_publique(this)" title="Supprimer un client">X</a></div>

        	</div>
        </div>
        
        <div class="relation_publique_content">
			 <div class="row">
			 	<div class="col-sm-12 col-md-2 nopadding text-uppercase"><span class="form-col-label">Adresse</span></div>
        		<div class="col-sm-12 col-md-10 nopadding"><input type="text" class="wrp_adresse field-large"name="wrp_adresse[]" value="{{ rp['wrp_adresse'] }}" oninput="this.setCustomValidity('')"></div>
			 </div>
			 <div class="row">
			 	<div class="col-sm-12 col-md-2 nopadding text-uppercase"><span class="form-col-label">Code postal</span></div>
        		<div class="col-sm-12 col-md-3-5 nopadding"><input type="number" class="wrp_cp field-large"name="wrp_cp[]" value="{{ rp['wrp_cp'] }}" maxlength="5"  min="" max="99999" oninput="this.setCustomValidity('')"></div>
			 	<div class="col-sm-12 col-md-1 nopadding text-uppercase text-center"><span class="form-col-label" style="">Ville</span></div>
        		<div class="col-sm-12 col-md-5-5 nopadding"><input type="text" class="wrp_ville field-large"name="wrp_ville[]" value="{{ rp['wrp_ville'] }}" oninput="this.setCustomValidity('')"></div>
			 </div>
			  <div class="row">
			 	<div class="col-sm-12 col-md-3-5 nopadding text-uppercase"><span class="form-col-label font-weight-bold">Volume d'articles fourni*</span></div>
        		<div class="col-sm-12 col-md-2 nopadding"><input type="number" class="wrp_volume field-large" maxlength="5" name="wrp_volume[]" value="{{ rp['wrp_volume'] }}" oninput="this.setCustomValidity('')" required></div>
			 </div>
		</div>
		<div class="dotted-line contained"></div>
		
    </div>
    
    {% endfor %}
</div>
<div class="contained">
	<ul class="relation_publique_error" style="font-weight: bold; color: red" id=""></ul>
</div>
<div class="contained">
		<div class="col-sm-12 col-md-12   text-uppercase text-right font-weight-bold " style="height: 70px;">
			<a class="button_add_delete float-right " href="javascript:void(0);" style="display: flex;" onclick="add_first_relation_publique()">Ajouter un client</a>&nbsp;&nbsp;
		
		</div>
</div>
