<style>
.active{
	font-weight: bold;
	color: white;
}
</style>

<div class="form-step">
    <div>
        <a href="{{ path('interface_closed_coordonnees') }}">Coordonnées</a>
    </div>
    <div>
        <a href="{{ path('interface_history') }}">
            {{ contrats|length > 1 ? 'Consulter vos déclarations' :  'Consulter votre déclaration' }}
        </a>
    </div>
</div>